.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form__title {
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $title-color;
}

.modal-form__box {
  margin-bottom: 10px;
}

.modal-form__label {
  display: flex;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $text-color;
}

.modal-form__item {
  position: relative;
}

.modal-form__input {
  transition: border-color $anim-duration $cubic;

  padding-left: 42px;
  width: 448px;
  height: 40px;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__input:hover,
.modal-form__input:focus {
  border-color: $accent-color;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill $anim-duration $cubic;
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: $accent-color;
}

.modal-form__button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  line-height: 1.88;
  letter-spacing: 0.06em;
}
